* {
	margin: 0px;
	padding: 0px;
}

body{
	background: white;
	font-family: "Raleway",sans-serif;
}

h1{

	margin: 45px 0px 30px 0px;
	font-size:15px;
	font-weight: 800;
}

th{
	padding: 10px;

}

#conteudo{
	font-family: 'Raleway';
	font-size: 14px;
}

#logo{
	margin: 15px;
	
	float: left;
}

#cabecalho-menu a{
	color: black;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
	padding: 8px;
	float: left;
	
	position: relative;
	top: 30px;
}

#cabecalho-menu a:hover{
	text-decoration: underline;
	background: black;
	color: white;

}

#titulo{
	font-size: 20px;
	margin: 20px;
	padding-top:20px ;

}

.clear{
	clear: both;
}

.cinza{
	background: #DCDCDC;
}

.imagem{
	width: 60px;
	height: 60px;
	padding-left: 30px;
}

.texto{
	text-align: center;
}

.negrito{
	font-weight: bold;
}